<script>
  function addNewGoods(){
    goodsForm.reset();
    UE.getEditor('editor').setContent('');
    document.getElementById('goodsImgShow').src='';
    goodsForm.action='./pubgoods';
   // $('#goodsTable').hide();
    $('#goodsForm').show();
  }
  function hideGoodsForm(){
    $('#goodsForm').hide();
  }
  function onSub(){
    //alert(goodsForm.editorValue.value);
    return true;
  }
  function updGoods(goodsid){
    //alert(goodsid);
    //用ajax 将商品信息显示出来
    $.get('./getGoodsInfo?id='+goodsid,function(revalue){
        if (revalue!='') {
          //alert(revalue.goodsname);
          goodsForm.goodsname.value=revalue.goodsname;
          document.getElementById('goodsImgShow').src=".."+revalue.goodsimg
          goodsForm.price.value=revalue.price;
          $(goodsForm.typeid).val(revalue.typeid); //获取营业类型
          // var options = goodsForm.typeid.options;
          // len = options.length;
          // for(i=0;i<len;i++){                  //获取营业类型  考虑安全
          //   if(options[i].value==revalue.typeid){
          //     options[i].selected=true;
          //     break;
          //   }
          // }
          UE.getEditor('editor').setContent(revalue.goodsintro);
        }else{
          alert('没有此商品信息');
        }
    });
    goodsForm.action='./updgoods';
    $('#goodsForm').show();
  }
</script>

<form id="goodsForm" name="goodsForm" method="post" action="/home/pubgoods" onsubmit="return onSub();" style="display: none;" enctype="multipart/form-data">
  <table class="table table-bordered">
  <caption>    
        商品信息&nbsp;
       <button type="button" class="btn btn-success" onclick="hideGoodsForm()">收起</button>
  </caption>
  <tbody>
    <tr>
      <td>
         <input type="text" class="form-control" name="goodsname" placeholder="请输入商品名称">
      </td>
    </tr>
    <tr>
      <td>
        请选择商品图片
        <input type="file" name="goodsimg" >
        <input type="hidden" name="oldGoodsImg">
        <img id='goodsImgShow' style="margin-left: 100px;">
      </td>
    </tr>
    <tr>
      <td>
        <select class="form-control" name="typeid">
          <option value="0">请选择商品类型</option>
          <option value="1">重机</option>
          <option value="2">车辆</option>
          <option value="3">磨具</option>
        </select>
      </td>
    </tr>
    <tr>
    <td>
      <input type="number" class="form-control" name="price" placeholder="请输入价格" step="0.01">
    </td>
    </tr>
    <tr>
      <td>
        商品介绍
      </td>
    </tr>
    <tr>
      <td>
        <% include ueditor %>
      </td>
    </tr>
    <tr>
      <td align="center">
        <input type="hidden" name="shopid" value="<%-shopRs[0].id%>">
        <button type="submit" class="btn btn-success">提交</button>&nbsp;
        <button type="button" class="btn btn-success" onclick='hideGoodsForm()'>收起</button>
      </td>
    </tr>
  </tbody>
</table>
</form>
<table class="table" id='goodsTable'>
    <caption>
        <button type="button" class="btn btn-warning" onclick="addNewGoods()">添加新商品</button>
    </caption>
    <thead>
      <tr>
        <th>图片</th>
        <th>商品简介</th>
        <th>好评度</th>
        <th>操作</th> 
     </tr>
    </thead>
    <tbody>
    <% goodsRs.forEach(function(row){ %>
     <tr>
        <td><img src="<%-row.goodsimg%>" width='60px' height='60px'></td>
       <!--  <td><%-row.goodsname%><br/><%-row.goodsintro.substring(0,48)%>...</td> -->
                                                <!--substring  字符串截取 -->
        <td>
            <%-row.goodsname%><br/> 
            <a href="#">查看详细</a>
        </td>
        <td><%-row.praise%></td>                 
           <td>  <a href="#" onclick="updGoods(<%-row.id%>)">修改</a>&nbsp;
                 <a href="#" onclick="deleteNew(<%-row.id%>)">删除</a>
            </td>
        </tr> 
        <% }) %>
    </tbody>
</table>