 <% include ../head %>
  
 <script>

 	function renzheng(){
 		$('#main').load('/home/renzheng.html');//加载页面	
 	}
 	// function homemap(){
 	// 	$('#main').load('/home/homemap.html');//加载页面	
 	// }
 	function newMsg(){
      $('#myModal').modal('show');
    sendMsgForm.reset();
   titlelabel = '发送新消息';
    $('#myModalLabel').text(titlelabel);
 	
 		//$('#returnNew').hide();
		//$('#sendNewForm').show();
   		
   	}
   	function reply(thisa,rid){ //thisa表明reply方法  rid代表发送者的id
   		//alert(thisa.parentElement.parentElement.children[0].innerText);//在tr里面找到第一个td 弹出里面的内容
   		// alert('回复:'+thisa.parentElement.parentElement.children[1].innerText);
   		// alert(rid);// 回复=thisa  第一个parent代表table 第二个parent代表tr  children代表td
   	

    	 //$('#myModal').modal('show');
   		 //$('#sendNewForm').hide();
   		 //$('#returnNew').show();

   		// alert(rid);
   		//alert(thisa.parentElement.parentElement.children[0].innerText);
		// var answer= thisa.parentElement.parentElement.children[0].innerText;
  //  		$('#rnicheng').val(thisa.parentElement.parentElement.children[0].innerText);

  //  		var answer= thisa.parentElement.parentElement.children[1].innerText;
  //  		$('#rid').val(thisa.parentElement.parentElement.children[1].innerText);
  reNicheng = thisa.parentElement.parentElement.children[0].innerText;
       titlelabel = '回复'+reNicheng;
       sendMsgForm.nicheng.value=reNicheng+';';
       $('#myModalLabel').text(titlelabel);
       $('#myModal').modal('show');
     }
   	 function del(id){
   	 	if(confirm('是否确定删除?')){
   	 		location.href='/msg/delNew?id='+id;
   	 	}
   	 }
   	// }
   	function onSendMsg() {
		//表单里所有内容提交：serialize();
		$.post('/msg/sendmsg', $('#sendMsgForm').serialize(), function(rehtml) {
			if(rehtml == 1) {				  //将文本转换为对象
				alert('发送成功');
				$('#myModal').modal('hide');
			} else {
				alert('发送失败');
			}
		});//ajax提交    ajax 里面的方法是异步方式

		return false;
  }
		//在执行ajax时，async默认的默认值为true,这种情况为异步方式，就是说ajax发送请求后，在等待服务端返回的这个过程中，前台会继续执行ajax块后面的脚本，直到服务端返回正确的结果才会执行success,也就是说这时执行的是两个线程，一个线程在执行ajax时另一个进程已经执行return flat了。所以一直返回false.把async改为false，这时才是同步方式，只有一个线程。
	

 </script>
 <style>
 	.col-sm-2{
 		border-radius: 15px;
 	}
 </style>

   <!-- <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
   <script src="../javascripts/jquery-2.1.4.min.js"></script>
   <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main.css?v=1.0"/>
   <script type="text/javascript"
            src="http://webapi.amap.com/maps?v=1.3&key=ebb3310e602e7027987911af5e30be56"></script>  -->
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
    <script src="http://webapi.amap.com/maps?v=1.3&key=ae14e1026602b5ac61c977cae29b9825&&plugin=AMap.Scale,AMap.OverView,AMap.ToolBar"></script>
   <div class="row"><!-- 跨行 -->
	     <div class="col-sm-1"></div>
	     <div class="col-sm-2" style="background-color:#FFCC66; border-radius:15px;">
	     	<% include left %>
	     </div>
	     <div class="col-sm-7" id="main" >
	     	<table id='message' class="table table-bordered" ><!-- style="display: none;" -->
			  <caption>
			  消息列表
			 <button type="button" class="btn btn-primary"  style="float: right;margin-right: 100px" onclick='newMsg()'>新消息</button>
			  </caption>
			  <thead>
			    <tr>
			      <th>发送者</th>
			      <th>内容</th>
			      <th>发送时间</th>
			      <th>操作</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<% rs.forEach(function(row){ %>
			    <tr>
			      <td><%-row.nicheng%></td>
			      <td><%-row.message%></td>
			      <td>
			      	<%
			      	time = row.createtime;
			      	%>
			      <%-time.getFullYear()%>年
			      <%-time.getMonth()+1%>月
			      <%-time.getDate()%>日
			      </td>
			      <td>
			      	<a href='#'onclick='reply(this,<%-row.sendid%>)'>回复&nbsp;</a>
			      	<a href='#'onclick='del(<%-row.id%>)'>删除</a>
			      </td>
			    </tr>
			    <% }) %>
          <tr>
        <% cpage = parseInt(cpage);%> 
            <td colspan="4" align="center">
            共<%-rowCount%>条消息&nbsp;
            第<%-cpage%>/<%-sumPage%>页&nbsp;
            <%if(cpage>1){%>
              <a href="./?cpage=1">首页</a>&nbsp;
              <a href="./?cpage=<%-cpage-1%>">上一页</a>&nbsp;
                <% } %>
                <%if(cpage<sumPage){%>
               <a href="./?cpage=<%-cpage+1%>">下一页</a>&nbsp;     
               <a href="./?cpage=<%-sumPage%>">尾页</a>
               <%}%>
               <% for(i=1;i<=sumPage;i++) {%>
                  <a href="./?cpage=<%-i%>"><%-i%></a>&nbsp;
               <% } %>
            </td>
          </tr>
			  </tbody>
			</table>
			</div>
	     <div class="col-sm-1"></div>
 </div>
	     	<!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby=" myModalLabel" aria-hidden="true">
     <div class="modal-dialog">			<!-- onsubmit提交的返回值  一个返回值的方法 是true 就提交-->
     <form id='sendMsgForm' name="sendMsgForm" onsubmit="return onSendMsg();"> <!--  提交表单 回调sendNew() -->            <!-- 发送到表单         ajax提交-->  
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">发送新消息</h4>
            </div>
            <div class="modal-body">
            <div class="form-group">
			    <input type="text" name='nicheng' class="form-control" id="name" placeholder="请填写收件人昵称，多人用英文分号(;)隔开">
			 	 <br>
              <textarea name="message" class="form-control" rows="6" placeholder="请输入消息内容"></textarea>
	 		  </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="submit" class="btn btn-success">发送</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
        </form>
        <!-- <form id='returnNew' name="returnNew" onsubmit="return returnNew();" style="display: none;">
        	<div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <!-- <h4 class="modal-title" id="myModalLabel">回复:</h4> 
           		接收人：
           		<input type="text" name='rnicheng' class="form-control" id="rnicheng" >
            </div>
            <div class="modal-body">
            <div class="form-group">
              接收者者消息显示
			   <input type="text" name="rid" id='rid' class="form-control">
			 	 <br>回复内容
              <textarea name="rmessage" class="form-control" rows="6" placeholder="请输入消息内容"></textarea>
	 		  </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="submit" class="btn btn-success">发送</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content 
        </form> -->
    </div><!-- /.modal -->
</div>
</body>
</html>
